---
- name: Provision Minecraft Server
  ansible.builtin.file:
    path: "{{ minecraft.server_folder }}"
    state: directory
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"
    mode: '0755'

- name: Download Minecraft Server
  ansible.builtin.get_url:
    url: "{{ minecraft.download_url }}"
    dest: "{{ minecraft.server_dest }}"
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"

- name: Accept the Minecraft EULA
  ansible.builtin.lineinfile:
    path: "{{ minecraft.server_folder }}/eula.txt"
    line: "eula=true"
    create: true
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"
    mode: '0644'

- name: Minecraft server.properties
  template:
    src: server.properties.j2
    dest: "{{ minecraft.server_folder }}/server.properties"
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"
    mode: '0644'

- name: Fetch Minecraft users UUIDs
  uri:
    url: "https://api.mojang.com/users/profiles/minecraft/{{ item.name }}"
    method: GET
    return_content: true
    status_code: 200
  register: uuid_response_users
  loop: "{{ minecraft_users }}"
  ignore_errors: true
  when: minecraft_users | length > 1

- name: Fetch Minecraft operators UUIDs
  uri:
    url: "https://api.mojang.com/users/profiles/minecraft/{{ item.name }}"
    method: GET
    return_content: true
    status_code: 200
  register: uuid_response_ops
  loop: "{{ minecraft_ops }}"
  ignore_errors: true
  when: minecraft_ops | length > 1

- name: Fill in whitelist with users' data
  set_fact:
    whitelisted_users: "{{ whitelisted_users + [{'name': item.item.name, 'uuid': item.json.id }] }}"
  loop: "{{ uuid_response_users.results }}"
  when: item.status == 200

- name: Fill in ops list with users' data
  set_fact:
    ops_users: "{{ ops_users + [{'name': item.item.name, 'uuid': item.json.id }] }}"
  loop: "{{ uuid_response_ops.results }}"
  when: item.status == 200

- name: Whitelist users
  template:
    src: whitelist.json.j2
    dest: "{{ minecraft.server_folder }}/whitelist.json"
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"
    mode: '0644'
  when: whitelisted_users | length > 1

- name: Ops users
  template:
    src: ops.json.j2
    dest: "{{ minecraft.server_folder }}/ops.json"
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"
    mode: '0644'
  when: ops_users | length > 1

- name: Create plugins directory if it doesn't exist
  file:
    path: "{{ minecraft.server_folder }}/plugins"
    state: directory
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"
    mode: '0755'
  when: plugins | length > 1

- name: Download and install plugins
  get_url:
    url: "{{ item.url }}"
    dest: "{{ minecraft.server_folder }}/plugins/{{ item.name }}.jar"
    owner: "{{ minecraft.user }}"
    group: "{{ minecraft.user }}"
    mode: '0644'
  loop: "{{ plugins }}"
  when: plugins | length > 1

- name: Set up Minecraft server service
  template:
    src: minecraft.service.j2
    dest: "/etc/systemd/system/minecraft.service"
  notify: restart minecraft
